.main5{
    margin: 40px;
    .slider5 {
        width: 100%;
	    height: auto;
	    text-align: center;
        .slider5to img {
            width: 70%;
            height: auto;
            border-radius: 40px;
        }
    }
    .productos{
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
        h2{
            color: $color-principal;
            padding: 10px;
            text-align: center;
        }
        .productos-lista{
            list-style-type: none;
            padding: 0;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .producto img{
            max-width: 100%;
            height: auto;
        }
        button{
            color: $bg-blanco;
	        font-size: 1.2rem;
	        font-weight: semibold;
	        text-decoration: none;
	        background-color: $color-principal;
	        padding: 10px;
	        border-radius: 40px;
	        border: none;
            &:hover{
                color: $color-hover;
            } 
        }
    }
}